- Declaration
- Access key and values

In [2]:
students={'name':'John Cena',
          'class' : '2nd',
          'roll no.' : 21,
          'marks': 90}
print(students)

{'name': 'John Cena', 'class': '2nd', 'roll no.': 21, 'marks': 90}

to access values there are two methods :

In [3]:
#1st method
print(students['name'])
print(students['class'])

John Cena
2nd

In [4]:
#2nd method
print(students.get('name'))
print(students.get('class'))

John Cena
2nd

In [5]:
#to add items in a dictionary
students['school']='SKD'
students['Fathers name']='Sam Cena'
print(students)

{'name': 'John Cena', 'class': '2nd', 'roll no.': 21, 'marks': 90, 'school': 'SKD', 'Fathers name': 'Sam Cena'}

In [6]:
for key in students:
    print(key)

name
class
roll no.
marks
school
Fathers name

In [15]:
for k,v in students.items():
    print(f'{k} : {v}')

name : John Cena
class : 2nd
roll no. : 21
marks : 90
school : SKD
Fathers name : Sam Cena

In [8]:
print(students.keys())
print(students.values())
print(students.items())

dict_keys(['name', 'class', 'roll no.', 'marks', 'school', 'Fathers name'])
dict_values(['John Cena', '2nd', 21, 90, 'SKD', 'Sam Cena'])
dict_items([('name', 'John Cena'), ('class', '2nd'), ('roll no.', 21), ('marks', 90), ('school', 'SKD'), ('Fathers name', 'Sam Cena')])

In [9]:
raj_dict = {
    'Eglish' : 67,
    'Hindi' : 90,
    'Maths' : 35,
    'Science' : 75,
    'Social Science' : 28
}
print(raj_dict)

{'Eglish': 67, 'Hindi': 90, 'Maths': 35, 'Science': 75, 'Social Science': 28}

In [17]:
company= {
    'emp001' : {
        'name' : 'John',
        'age' : 25,
        'designation' : 'Team Leader',
        'salary' : 32000
    },
    'emp002' : {
        'name' : 'Sam',
        'age' : 22,
        'designation' : 'Software Developer',
        'salary' : 28000
    },
    'emp003' : {
        'name' : 'Aron',
        'age' : 29,
        'designation' : 'Web Developer',
        'salary' : 30000
        }
}
print(company)
print(company['emp001']['age'])

{'emp001': {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, 'emp002': {'name': 'Sam', 'age': 22, 'designation': 'Software Developer', 'salary': 28000}, 'emp003': {'name': 'Aron', 'age': 29, 'designation': 'Web Developer', 'salary': 30000}}
25

In [11]:
company['name']='Anjali Mishra'
print(company)

{'emp001': {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, 'emp002': {'name': 'Sam', 'age': 22, 'designation': 'Software Developer', 'salary': 28000}, 'emp003': {'name': 'Aron', 'age': 29, 'designation': 'Web Developer', 'salary': 30000}, 'name': 'Anjali Mishra'}

In [12]:
company['emp004'] = {
    'name' : 'Raj',
    'age' : 30,
    'designation' : 'Software Developer',
    'salary' : 35000
}
print(company)

{'emp001': {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, 'emp002': {'name': 'Sam', 'age': 22, 'designation': 'Software Developer', 'salary': 28000}, 'emp003': {'name': 'Aron', 'age': 29, 'designation': 'Web Developer', 'salary': 30000}, 'name': 'Anjali Mishra', 'emp004': {'name': 'Raj', 'age': 30, 'designation': 'Software Developer', 'salary': 35000}}

In [13]:
print(company.keys())
print(company.values())

dict_keys(['emp001', 'emp002', 'emp003', 'name', 'emp004'])
dict_values([{'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, {'name': 'Sam', 'age': 22, 'designation': 'Software Developer', 'salary': 28000}, {'name': 'Aron', 'age': 29, 'designation': 'Web Developer', 'salary': 30000}, 'Anjali Mishra', {'name': 'Raj', 'age': 30, 'designation': 'Software Developer', 'salary': 35000}])

In [14]:
for k,v in company.items():
    print(f"{k} : {v}")

emp001 : {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}
emp002 : {'name': 'Sam', 'age': 22, 'designation': 'Software Developer', 'salary': 28000}
emp003 : {'name': 'Aron', 'age': 29, 'designation': 'Web Developer', 'salary': 30000}
name : Anjali Mishra
emp004 : {'name': 'Raj', 'age': 30, 'designation': 'Software Developer', 'salary': 35000}