LOOPS
- for 
- while 
- do while
- nested loops

In [3]:
a=['apple','banana','cherry','orange','kiwi','melon','mango','grape']
for x in a :
    print(x)

apple
banana
cherry
orange
kiwi
melon
mango
grape

In [4]:
for x in range(10):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [5]:
for x in range(2, 10):
    print(x)

2
3
4
5
6
7
8
9

In [6]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [7]:
a="hello world"
for i in a:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [8]:
a="hello world"
for i in range(0,5):
    print(a[i])

h
e
l
l
o

In [9]:
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
i=0
while i<=20:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [11]:
a=[2,3,5,4,7,5,6,2,4,9,7,8]
for i in a:
    if i%2==0:
        print(f'even : {i}')
    else:
        print(f'odd : {i}')

even : 2
odd : 3
odd : 5
even : 4
odd : 7
odd : 5
even : 6
even : 2
even : 4
odd : 9
odd : 7
even : 8

BREAK

In [12]:
x=[3,7,58,5,2,5,4,44,8,5,6,7,0,8,9,77,6,4,433,0]
for i in x:
    if i==0:
        break
    print(i, end=' ')

3 7 58 5 2 5 4 44 8 5 6 7

In [13]:
students=['Arya','Danish','Akash','Lokesh','Siddhant','Anshuman']
for student in students:
    if student=='Lokesh':
        print('Lokesh is most talkative person in the class')
        break
    print(f"{student} is good student")

Arya is good student
Danish is good student
Akash is good student
Lokesh is most talkative person in the class

In [14]:
a=[2,5,4,6,7,3,6,8,9,4,7,9,0,4,3,7,5]
for i in a:
    if i==6 or i==4:
        continue
    print(i, end=" ")

2 5 7 3 8 9 7 9 0 3 7 5

In [15]:
x=[1,2,3,None,5,1,None,2,23,None,3,1,2,2,3,None,3]
for num in x:
    if num is None:
        continue
    print(num,end=" ")

1 2 3 5 1 2 23 3 1 2 2 3 3

In [16]:
odd_sum=0
for num in x:
    if num is not None and num%2!=0:
        odd_sum+=num
print(odd_sum)

43

In [17]:
names=["John","Bob","Alice","Mary"]
for idx, name in enumerate(names):
    print(f"{idx+1}: {name}")

1: John
2: Bob
3: Alice
4: Mary

In [18]:
x=[2,4,5,7,5,2,4,5]
y=[5,8,9,3,6,5,24,5]
z=[2,4,5,7,5,2,4,5]
for i, j, k in zip(x, y, z):
    print(i*j+k)

12
36
50
28
35
12
100
30

In [19]:
movies= ['Interstellar','The Martian','Gravity','Apollo 13']
rating= [8.6,8,7.7,7.6]

for name, star in zip(movies,rating):
    print(f'{name} has a rating of {star}ðŸŒŸðŸŒŸ on IMDB')

Interstellar has a rating of 8.6ðŸŒŸðŸŒŸ on IMDB
The Martian has a rating of 8ðŸŒŸðŸŒŸ on IMDB
Gravity has a rating of 7.7ðŸŒŸðŸŒŸ on IMDB
Apollo 13 has a rating of 7.6ðŸŒŸðŸŒŸ on IMDB