Arithmetic Operators

In [1]:
a=5
b=8
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
-3
40
0.625
0
5
390625

Assignment Operator

In [14]:
x=15
x+=5
print(x)
x-=5
print(x)
x*=5
print(x)
x/=5
print(x)
x//=5
print(x)
x%=5
print(x)
x**=5
print(x)

20
15
75
15.0
3.0
3.0
243.0

In [9]:
a="areeba"
print(a)

areeba

In [15]:
print(x)

243.0

In [2]:
a="lokesh study in digipodium"
b="Areeb mam study in digipodium"
print("study" in a)
print("in" in b)

True
True

In [5]:
a=[["apple","banana","cherry"],"orange","kiwi","melon","mango"]
b=["apple","banana","cherry"]
print(b in a )

True